@{
    ViewData["Title"] = "ShowTenantManualDownStatus";
}

<h2>Your tenant has been stopped by admin.</h2>

<p>The admin people will be looking at this. If the tenant isn't be unblocked soon, then contact admin about this.</p>
