@page
@model Example1.RazorPages.IndividualAccounts.Pages.AuthBuiltIn.LoggedInAuthorizeModel
@{
    ViewData["Title"] = "AuthBuiltIn.LoggedInConfigure";
}

<h3>AuthBuiltIn.LoggedInAuthorize</h3>
<p>
    If you add <code>[Authorize]</code> to the PageModel  in e.g.,
</p>
<pre><code>
    [Authorize]
    public class LoggedInAuthorizeModel : PageModel
    {...
</code></pre>