@page
@model Example1.RazorPages.IndividualAccounts.Pages.AuthBuiltIn.PublicModel
@{
    ViewData["Title"] = "AuthBuiltIn.Public";
}

<h3>AuthBuiltIn.Public</h3>
<p>
    A normal razor page is, by default, public 
</p>

<a class="nav-link text-primary" asp-area="" asp-page="/Index">Back to home page</a>

