@{
    ViewData["Title"] = "ShowTenantDeleted";
}

<h2>Your tenant database has been deleted</h2>

<p>This means you cannot use this tenant any more. Talk to your administrator about you should do now.</p>
