@model Example4.MvcWebApp.IndividualAccounts.Models.AuthUserDisplay

@{
    ViewData["Title"] = "EditInfo";
}

<h1>Edit Auth User's Email and </h1>

<h4>User @Model.UserName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditInfo">
            @Html.HiddenFor(m => m.UserId)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
