@page
@model SetCultureModel
@{
}

<h3>Select the culture you want</h3>

<p>Note that I only localized the following parts.</p>
<ul>
    <li>The AuthP's Roles error/success messages.</li>
    <li>The AuthP's AuthUser error/success messages.</li>
    <li>Some data shown on the Home page.</li>
</ul>

<form method="post">
    <div class="col-md-4">
        <select name="SetLanguage" asp-items="Model.CultureList"></select>
    </div>
    <br/>
    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-primary"/>
    </div>
</form>