@page
@using LocalizeMessagesAndErrors
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Example1.RazorPages.IndividualAccounts.Pages.AuthRoles.DeleteModel
@inject ISimpleLocalizer SimpleLocalizer

<h1>Delete Role</h1>

<h3>
    @SimpleLocalizer.LocalizeFormatted($"Are you sure you want to delete the {Model.RoleName} ?", this)
</h3>
<div>
    <form method="post">
        @Html.HiddenFor(model => model.RoleName)
        <input type="submit" value=@SimpleLocalizer.LocalizeString("Delete", this)
               class="btn btn-danger" />
        <a class="btn btn-secondary" asp-area="" asp-page=".\ListRoles">
            @SimpleLocalizer.LocalizeString("Cancel", this)
        </a>
    </form>
</div>