@model string

@{
    ViewData["Title"] = "Remove";
}

<div class="h3">Remove the <span class="h2">@Model</span> sharding entry?</div>
<h3>Are you sure you want to remove this?</h3>
<i>NOTE: This does not delete the database. It just takes that database out of use.</i>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            sharding entry Name
        </dt>
        <dd class="col-sm-10">
            @Model
        </dd>
    </dl>

    <form asp-action="Remove">
        @Html.Hidden("nameToRemove", Model )
        @Html.Hidden("dummyValue", true)
        <input type="submit" value="Remove" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
