@model Example4.MvcWebApp.IndividualAccounts.Models.TenantDeleteInfo

@{
    ViewData["Title"] = "DeleteInfo";
}

<h3 class="text-success">@Model.Message</h3>

<h4>The tenant(s) has been deleted BUT the date linked to the deleted tenants has NOT been deleted.</h4>
<p>But deleting the tenant(s) means no one has a DataKey to access the data, so its still secure.</p>
<p>The following information  will allow you to:</p>
<ol>
    <li>Reintroduce this data via code to link to new tenants, or.</li>
    <li>Manually delete the data with the DataKey(s) below.</li>
</ol>
<p>We recommend you copy this data in case it is useful later</p>

<table class="table">
    <thead>
    <tr>
        <th>
            Full tenant name
        </th>
        <th>
            DataKey
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.DataDropped)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fullTenantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataKey)
            </td>
        </tr>
    }
    </tbody>
</table>

<a asp-action="Index">Back to List</a>
